Oldstuff/pythoncad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	    xmlns:image="http://www.pythoncad.org/"
            targetNamespace="http://www.pythoncad.org/">
  <xs:annotation>
    <xs:documentation xml:lang="en">
        Schema for PythonCAD drawing files
        Author: Art Haas(ahaas@airmail.net)
    </xs:documentation>
  </xs:annotation>
  <xs:element name="Image" type="image:Image">
    <xs:sequence>
       <xs:element name="Colors" type="image:Color" minOccurs="1" maxOccurs="unbounded"/>
       <xs:element name="Layers" type="image:Layers" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:element>
  <xs:simpleType name="colorValue">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Colors">
    <xs:sequence>
      <xs:element name="Color" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="r" type="image:colorValue" use="required"/>
          <xs:attribute name="g" type="image:colorValue" use="required"/>
          <xs:attribute name="b" type="image:colorValue" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="color_id">
      <xs:selector xpath="image:Color"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="Layers">
    <xs:sequence>
       <xs:element name="Layer" minOccurs="1" maxOccurs="unbounded">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="Points" type="image:Points" minOccurs="0" maxOccurs="1"/>
             <xs:element name="Segments" type="image:Segments" minOccurs="0" maxOccurs="1"/>
             <xs:element name="Circles" type="image:Circles" minOccurs="0" maxOccurs="1"/>
             <xs:element name="Arcs" type="image:Arcs" minOccurs="0" maxOccurs="1"/>
             <xs:element name="HCLines" type="image:HCLines" minOccurs="0" maxOccurs="1"/>
             <xs:element name="VCLines" type="image:VCLines" minOccurs="0" maxOccurs="1"/>
             <xs:element name="ACLines" type="image:ACLines" minOccurs="0" maxOccurs="1"/>
             <xs:element name="CLines" type="image:CLines" minOccurs="0" maxOccurs="1"/>
             <xs:element name="CCircles" type="image:CCircles" minOccurs="0" maxOccurs="1"/>
             <xs:element name="LDims" type="image:LDim" minOccurs="0" maxOccurs="1"/>
             <xs:element name="HDims" type="image:HDim" minOccurs="0" maxOccurs="1"/>
             <xs:element name="VDims" type="image:VDim" minOccurs="0" maxOccurs="1"/>
             <xs:element name="RDims" type="image:RDim" minOccurs="0" maxOccurs="1"/>
             <xs:element name="ADims" type="image:ADim" minOccurs="0" maxOccurs="1"/>

           </xs:sequence>
           <xs:attribute name="name" type="xs:string" use="required"/>
           <xs:attribute name="scale" type="xs:double" use="required"/>
           <xs:attribute name="parent" type="xs:integer" use="optional"/>
           <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
         </xs:complexType>
       </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Segments">
    <xs:sequence>
      <xs:element name="Segment" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="style" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="seg_id">
      <xs:selector xpath="image:Segment"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="CLines">
    <xs:sequence>
      <xs:element name="CLine" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p2" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="cline_id">
      <xs:selector xpath="image:CLine"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="HCLines">
    <xs:sequence>
      <xs:element name="HCLine" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="location" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="hcline_id">
      <xs:selector xpath="image:HCLine"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="VCLines">
    <xs:sequence>
      <xs:element name="VCLine" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="location" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="vcline_id">
      <xs:selector xpath="image:VCLine"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="ACLines">
    <xs:sequence>
      <xs:element name="ACLine" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="location" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="angle" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="acline_id">
      <xs:selector xpath="image:ACLine"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="Circles">
    <xs:sequence>
      <xs:element name="Circle" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="cp" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="r" type="xs:double" use="required"/>
          <xs:attribute name="style" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="cid">
      <xs:selector xpath="image:Circle"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="Arcs">
    <xs:sequence>
      <xs:element name="Arc" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="cp" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="r" type="xs:double" use="required"/>
          <xs:attribute name="ea" type="xs:double" use="required"/>
          <xs:attribute name="sa" type="xs:double" use="required"/>
          <xs:attribute name="style" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="arc_id">
      <xs:selector xpath="image:Arc"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="CCircles">
    <xs:sequence>
      <xs:element name="CCircle" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="cp" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="r" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="ccid">
      <xs:selector xpath="image:CCircle"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="Points">
    <xs:sequence>
      <xs:element name="Point" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="x" type="xs:double" use="required"/>
          <xs:attribute name="y" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="pid">
      <xs:selector xpath="image:Point"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="Chamfers">
    <xs:sequence>
      <xs:element name="Chamfer" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="length" type="xs:double" use="required"/>
          <xs:attribute name="s1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="s2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="style" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="chamfer_id">
      <xs:selector xpath="image:Chamfer"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="Fillets">
    <xs:sequence>
      <xs:element name="Fillet" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="radius" type="xs:double" use="required"/>
          <xs:attribute name="s1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="s2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="style" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="fillet_id">
      <xs:selector xpath="image:Fillet"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="LDims">
    <xs:sequence>
      <xs:element name="LDim" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="ds" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="x" type="xs:double" use="required"/>
          <xs:attribute name="y" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="ldim_id">
      <xs:selector xpath="image:LDim"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="HDims">
    <xs:sequence>
      <xs:element name="HDim" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="ds" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="x" type="xs:double" use="required"/>
          <xs:attribute name="y" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="hdim_id">
      <xs:selector xpath="image:HDim"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="VDims">
    <xs:sequence>
      <xs:element name="VDim" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="ds" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="x" type="xs:double" use="required"/>
          <xs:attribute name="y" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="vdim_id">
      <xs:selector xpath="image:VDim"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="RDims">
    <xs:sequence>
      <xs:element name="RDim" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="ds" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="c" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="x" type="xs:double" use="required"/>
          <xs:attribute name="y" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="rdim_id">
      <xs:selector xpath="image:RDim"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
  <xs:complexType name="ADims">
    <xs:sequence>
      <xs:element name="ADim" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="ds" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p1" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p2" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="l3" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="p3" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="x" type="xs:double" use="required"/>
          <xs:attribute name="y" type="xs:double" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:unique name="adim_id">
      <xs:selector xpath="image:ADim"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:complexType>
</xs:schema>
